---
layout: base.pug
pagination:
    data: projects.projects
    size: 1
    alias: project
permalink: "| projects/#{project.name}/"
eleventyImport:
  collections: ["members"]
---

link(rel='stylesheet' href='/style/project.css')

section
  h1 !{project.display_name}
  p !{project.description}  
  img.header-logo(src=project.image alt=`${project.name} logo` width=92 height=92)
  .header-line
    a.empty-image-link(href=project.url target='_blank')
      img(src='/images/tanuki.svg' alt='gitlab logo' height=46 width=46)
    if project.demo
      a.empty-image-link(href=project.demo target='_blank')
        img(src='/images/rocket.svg' alt='demo logo' height=46 width=46)
section
  h2 Current Status
  p !{project.status}
section
  h2 Technologies Used
  p !{project.stack}
section
  h2 Project Directors:
    .dev-list
      each person, index in project.directors.map(p => members.members.find(m => m.username == p))
        a.dev-item(href=`/members/${person.username}` title=person.name style=`z-index: ${-index};`)
          img(src=person.image alt=person.image_alt height=54 width=54)
section
  h2 Developers:
    .dev-list
      each person, index in project.developers.map(p => members.members.find(m => m.username == p))
        a.dev-item(href=`/members/${person.username}` title=person.name style=`z-index: ${-index};`)
          img(src=person.image alt=person.image_alt height=54 width=54)
