---
layout: base.pug
---

section
  h1 Purpose
  | We aim to elevate open source culture within MIT and break down obstacles to information and technology. Additionally:
  ul
    li Give members an opportunity to learn software development within a team.
    li Advocate for policies that would increase equitable access to information and technology.
    li Bring helpful open source software to the MIT community and the world.
section
  h2 Featured Project
  .project-card
    - let project = projects.projects[0]
    .project-info
      .project-header
        img.project-logo(alt=`${project.name} logo` src=project.image height=72 width=72)
        a.project-title(href=`/projects/${project.name}`) #{project.display_name}
        .project-stat-container
          .project-stat
            img.project-stat-image(alt='gitlab' src='/images/tanuki.svg' height=36 width=36)
            img.project-stat-image.star(alt='stars' src='/images/star.svg' height=36 width=36)
            | !{stars.get(project.name)}
      .project-desc !{project.description}
      .project-dev-container Project Directors:
        .dev-list
          each person, index in project.directors.map(p => members.members.find(m => m.username == p))
            a.dev-item(href=`/members/${person.username}` title=person.name style=`z-index: ${-index};`)
              img(src=person.image alt=person.image_alt height=36 width=36)
      - let unique_developers = project.developers.filter(p => !project.directors.includes(p))
      if unique_developers.length > 0
        .project-dev-container Developers:
          .dev-list
            each person, index in unique_developers.map(p => members.members.find(m => m.username == p))
              a.dev-item(href=`/members/${person.username}` title=person.name style=`z-index: ${-index};`)
                img(src=person.image alt=person.image_alt height=36 width=36)
      .project-link-container
        a.project-link(href=project.url target='_blank')
          img.project-link-icon(alt='gitlab logo' src='/images/tanuki.svg' height=32 width=32)
          | View Source on Gitlab
        if project.demo
          a.project-link(href=project.demo target='_blank')
            img.project-link-icon(alt='rocket logo' src='/images/rocket.svg' height=32 width=32)
            div View Demo
    img.project-image(alt=`${project.display_name} screenshot` src=project.screenshot height=400 width=600)
