body {
    padding: 0 1em 1em 1em;
}

main {
    padding: 2ch 10ch;
    font-size: 1.2em;
    line-height: 1.5;
    color: black;
    padding: 1em;
}

h1 {
    text-align: center;
    line-height: 1.25;
    margin: 0 1.2em 0.4em 1.2em;
}


.thumbnail {
    display: block;
    width: 85%;
    height: auto;
    margin: auto;
}

.subtext {
    color: hsl(0, 0%, 30%);
    font-style: italic;
    margin: 1em 0;
}

section {
    margin: 1em 0;
}

.blog-content img {
    display: block;
    max-width: min(30ch, 100%);
    margin: auto;
    height: auto;
    width: auto;
}

.blog-details {
    display: flex;
    gap: 4px;
    align-items: center;
    color: hsl(0, 0%, 40%);
    justify-content: center;
    font-size: 0.6em;
    text-transform: uppercase;
}