h2 {
    text-align: start;
    margin: 0 0 0.8rem 0;
}

p {
    margin: 0 0 1rem;
}

blockquote p:last-child {
    margin: 0;
}

/* quotes */
blockquote {
    margin: 0 0 0.8rem 0;
    padding: 0.6em 0.8em;
    border: none;
    border-radius: 1em;
    background: #ffffff;
    color: #353535;
    overflow-wrap: break-word;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 0 1px 3px 1px rgba(0, 0, 0, 0.07), 0 2px 6px 2px rgba(0, 0, 0, 0.03);
}

@media (min-width: 900px) {
    blockquote {
        padding: 1.4em 1.5em;
    }
}