---
title: OpenCode @ MIT
thumbnail: /images/crow_logo.png
subtext: OpenCode @ MIT is a student organization dedicated to open source software
---

doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='OpenCode @ MIT is a student organization dedicated to open source and community')
    meta(name='og:description' content=subtext)
    title !{title}
    meta(property='og:image' content=thumbnail)
    meta(property='og:title' content=title)
    meta(property='og:site_name' content='OpenCode @ MIT')
    meta(name='twitter:card' content='summary_large_image')
    link(rel='icon' href='/images/favicon.svg' type='image/x-icon')
    link(rel='stylesheet' href='/style/style.css')
body
  nav
    a#name(href='/')
      img#logo(alt='open code logo' src='/images/logo_transparent_white.svg' width='48' height='48')
      #name-text OpenCode @ MIT
    #nav-link-container
      a.nav-link(href='/about/') About
      a.nav-link(href='/projects/') Projects
      a.nav-link(href='/events/') Events
      a.nav-link(href='/blogs/') Blog
      a.nav-link(href='/members/') Members
      a.nav-link.nav-image-container(href='/feed.json' target='_blank')
        img.nav-image(alt='RSS feed icon' src='/images/rss.svg' height='28' width='28')
      a.nav-link.nav-image-container(href='https://gitlab.com/opencode-mit' target='_blank')
        img.nav-image(alt='gitlab logo' src='/images/tanuki.svg' height='28' width='28')
  main !{content}
  footer
    a.nice-link(href='https://accessibility.mit.edu/') Accessibility
    a.nice-link(title='edit this page on gitlab' href=`https://gitlab.com/opencode-mit/opencode-mit.gitlab.io/blob/main/${ page.inputPath }`) Edit This Page


