---
layout: base.pug
---

link(rel='stylesheet' href='/style/blog.css')
link(rel='stylesheet' href='/style/twioc.css')

- let format_date = d => { return d.toLocaleDateString("en-US", { year: 'numeric', month: 'short', day: 'numeric' }); }

h1
  = title
  .blog-details
    a.blog-author(href=`/members/${author}`) curated by !{author}
    | •
    label.blog-date !{format_date(new Date(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate()))}

.subtext !{subtext}

.blog-content
  | !{content}