---
layout: base.pug
---

- let format_date = d => { return d.toLocaleDateString("en-US", { year: 'numeric', month: 'short', day: 'numeric' }); }

section
  h1 Community Blog
  ul.blog-list
    each post in collections.posts
      li.blog-card
        a.blog-link(href=post.url)
          .blog-image-container
            img(src=post.data.thumbnail alt=post.data.thumbnail_alt height=200 width=300)
          .blog-info
            h2.blog-title !{post.data.title}
            div
              | !{post.data.subtext}
            .blog-footer
              a.blog-author(href='/members/adhami') !{post.data.author}
              | •
              label.blog-date !{format_date(post.data.date)}
