---
layout: base.pug
---

section.button-container
  a(href='/about')
    button.nice-button Contact
  a(href='/about/purpose')
    button.nice-button Purpose
  a(href='/about/organization')
    button.nice-button Organization
  a(href='/about/constitution')
    button.nice-button Constitution
section
  h2 Article I: Purpose
  p This organization aims to help its members to learn more about software and the importance of open source development. Additionally, it aims to give its members an opportunity to learn software development within a team. It also aims to advance open source culture within MIT and the local community. Finally it aims to bring helpful open source software to the MIT community and the world.
section
  h2 Article II: Membership
  ul
    li Any member of the MIT community is eligible to become a member of this organization. One is considered a member of this organization in any given academic term if that person is subscribed to the mailing list.
    li The organization&rsquo;s membership will at all times consist of at least 5 MIT students and be more than half MIT students.
    li This organization will not discriminate based on any characteristic listed in MIT&apos;s Nondiscrimination Statement.
    li If this organization charges any monetary dues, there will be exceptions made for students that cannot afford these dues.
section
  h2 Article III: Officers
  p The triumvirate (President, Vice President, Treasurer) are responsible for presiding over the board of directors. They must organize weekly board meetings (when relevant) and carry the votes after letting the directors discuss the issue. They must also overlook the development of projects as well as the work done by other officers. Open Code @ MIT will have a minimum of three distinct officers. At least half of Open Code @ MIT officers must be distinct current MIT students.
  ul
    li
      strong President: 
      | The President is additionally responsible for representing Open Code @ MIT externally in MIT and ASA meetings as well as relevant meetings. The President must be a current MIT student.
    li
      strong Vice President: 
      | The Vice President is additionally responsible to take the roles of the president when the president is busy or unavailable. The Vice President is also responsible for sending relevant reminders for executive meetings. The Vice President must be a current MIT student.
    li
      strong Treasurer: 
      | The Treasurer is additionally responsible for managing the finances of Open Code @ MIT. The Treasurer must approve all disbursements from Open Code @ MIT&rsquo;s accounts, including reimbursements to members. The Treasurer must be a current MIT student.
    li
      strong Social Chair: 
      | The Social Chair is responsible for organizing social events for the members of Open Code @ MIT as relevant in the &ldquo;Events&rdquo; section.
    li
      strong Outreach Chair: 
      | The Outreach Chair is responsible for organizing guest talk events for the members of Open Code @ MIT as relevant in the &ldquo;Events&rdquo; section.
    li
      strong Web Chair: 
      | The Web Chair is responsible for keeping the website, resources, and mailing lists updated with the information relevant to the members of Open Code @ MIT.
    li
      strong Hosting Chair: 
      | The Hosting Chair is responsible for managing the servers owned by Open Code @ MIT.
    li
      strong Publicity Chair: 
      | The Publicity chair is responsible for publicizing and creating posters for the events organized by Open Code @ MIT.
    li
      strong Inclusion Chair: 
      | The Inclusion Chair is responsible for organizing events about inclusion and accessibility in open software and technology for the members of Open Code @ MIT. In addition, the Inclusion Chair is responsible for keeping Open Code @ MIT an inclusive space and events are inclusive for all students.
section
  h2 Article IV: Elections
  ul
    li Elections of officers shall occur annually during the final weeks of the spring term.
    li Any member of this organization is eligible to run for any office.
    li Quorum for elections is two-thirds of the number of officers.
    li Voting will be conducted in the form of Rank Choice with voting members ranking their top two candidates out of all running candidates in the election; this applies per chair.
    li Any member is elected if that member wins a majority of the voting members.
    li If more than two people are running then, until one person wins a majority, the person with the fewest votes is dropped from the ballot and votes are recounted based on valid rankings. If no majority is reached after this then a new election is conducted for that chair.
    li The term of office runs from one election to the subsequent election.
    li Officers may be removed by a two-thirds vote of the members with the quorum being the same as for elections.
section
  h2 Article V: Meetings
  ul
    li Officers meetings should be held with board meetings every week.
    li Meetings shall be presided over by the triumvirate.
    li All relevant decisions (unless otherwise stated in this document) shall be made by a majority vote of all members present.
    li Quorum for a meeting shall be half of the number of officers.
section
  h2 Article VI: Amendments
  ul
    li Amendments shall be presented by any member of the organization during a meeting.
    li Amendments shall be passed by a two-thirds vote of the members present.
    li Quorum for amending this constitution shall be the same as for elections.
section
  h2 Article VII: ASA Governance Clause
  p This organization agrees to abide by the rules and regulations of the Association of Student Activities, and its executive board. This constitution, amendments to it, and the by-laws of this organization shall be subject to review by the ASA Executive Board to ensure that they are in accordance with the aforementioned rules and regulations.
