---
layout: base.pug
---

section.button-container
  a(href='/about')
    button.nice-button Contact
  a(href='/about/purpose')
    button.nice-button Purpose
  a(href='/about/organization')
    button.nice-button Organization
  a(href='/about/constitution')
    button.nice-button Constitution
section
  h2 Contact
  p
    | You can email us at 
    a.nice-link(href='mailto:opencode-exec@mit.edu' target='_blank') opencode-exec@mit.edu
    | .
