---
layout: base.pug
eleventyImport:
  collections: ["projects", "members"]
---

link(rel='stylesheet' href='/style/member.css')

section
  h1 Members
  ul.person-container
    each person in members.members
      li.person
        img.person-image(src=person.image alt=person.image_alt title=person.name height=52 width=52)
        a.person-name(href=`/members/${person.username}`) !{person.name}
        if person.executive_role
          .person-info !{person.executive_role}
        .to-right
          .person-projects
            - let developer_for = projects.projects.filter(({developers}) => developers.includes(person.username))
              each project, index in developer_for
                a.person-project(href=`/projects/${project.name}` style=`z-index: ${-index};`)
                  img(src=project.image alt=`${project.display_name} logo` height=24 width=24)
          .person-roles
            if person.roles.includes("programmer")
              img.person-role(alt='programmer' src='/images/laptop.svg' title='Programmer'  height=28 width=28)
            if person.roles.includes("artist")
              img.person-role(alt='artist' src='/images/artist.svg' title='Artist'  height=28 width=28)
            if person.roles.includes("translator")
              img.person-role(alt='translator' src='/images/translate.svg' title='Translator'  height=28 width=28)
            if person.roles.includes("musician")
              img.person-role(alt='musician' src='/images/piano.svg' title='Musician' height=28 width=28)