---
layout: base.pug
pagination:
    data: members.members
    size: 1
    alias: member
permalink: "| members/#{member.username}/"
eleventyImport:
  collections: ["projects"]
---

- let format_date = d => { return d.toLocaleDateString("en-US", { year: 'numeric', month: 'short', day: 'numeric' }); }

link(rel='stylesheet' href='/style/member.css')

section.member
  section.basic-info
    img.member-image(src=member.image alt=member.image_alt height=120 width=120)
    div
      h2.name !{member.name}
      .subtext
        | !{member.pronouns},
        a.image-link(href=`https://gitlab.com/${member.gitlab_username}` target='_blank')
          img(src='/images/tanuki.svg' alt='gitlab logo' height=28 width=28)
          = member.gitlab_username
        .person-roles
          if member.roles.includes("programmer")
            img.person-role(alt='programmer' src='/images/laptop.svg' title='Programmer' height=28 width=28)
          if member.roles.includes("artist")
            img.person-role(alt='artist' src='/images/artist.svg' title='Artist'  height=28 width=28)
          if member.roles.includes("translator")
            img.person-role(alt='translator' src='/images/translate.svg' title='Translator' height=28 width=28)
          if member.roles.includes("musician")
            img.person-role(alt='musician' src='/images/piano.svg' title='Musician' height=28 width=28)
  - let director_for = projects.projects.filter(({directors}) => directors.includes(member.username))
  if director_for.length
    section
      h3.member-projects
        | Project Director For:
        .person-projects
          each project, index in director_for
            a.person-project(href=`/projects/${project.name}` style=`z-index: ${-index};`)
              img(src=project.image alt=`${project.display_name} logo` height=24 width=24)
  - let developer_for = projects.projects.filter(({developers}) => developers.includes(member.username))
  if developer_for.length
    section
      h3.member-projects
        | Developer For:
        .person-projects
          each project, index in developer_for
            a.person-project(href=`/projects/${project.name}` style=`z-index: ${-index};`)
              img(src=project.image alt=`${project.display_name} logo`  height=24 width=24)
  section
    h3
      | Expertise:
      .inline-list
        = member.expertise.join(", ")
  if member.executive_role
    section
      h3
        | Executive Role:
        .inline-list !{member.executive_role}
  if member.outside_links && member.outside_links.length
    section
      h3
        | Outside Links:
        each link in member.outside_links
          a.image-link(href=link target='_blank')
            img(src='/images/link.svg' alt='link icon' height=28 width=28)
            = link.substring(link.indexOf("://") + 3)

- let blogs_written = collections.posts.filter(blog => blog.data.author == member.username)
if blogs_written.length
  section
    ul.blog-list
      each blog in blogs_written
        li.blog-card
          a.blog-link(href=blog.url)
            .blog-image-container
              img(src=blog.data.thumbnail alt=blog.data.thumbnail_alt width=300 height=200)
            .blog-info
              h2.blog-title !{blog.data.title}
              div
                | !{blog.data.subtext}
              .blog-footer
                a.blog-author(href=`/members/${blog.data.author}`) !{blog.data.author}
                | •
                label.blog-date !{format_date(blog.date)}
