---
layout: base.pug
---

section.button-container
  a(href='/about')
    button.nice-button Contact
  a(href='/about/purpose')
    button.nice-button Purpose
  a(href='/about/organization')
    button.nice-button Organization
  a(href='/about/constitution')
    button.nice-button Constitution
section
  h1 Purpose
  p We aim to elevate open source culture within MIT and lower down obstacles of information and technology. Additionally:
  ul
    li Give members an opportunity to learn software development within a team.
    li Advocate for policies that would increase equitable access to information and technology.
    li Bring helpful open source software to the MIT community and the world.
section
  h2 What can you gain from us?
  p You will have a chance to work on and learn about many different technologies at Open Code @ MIT, which bring you many opportunities at MIT and in your future career.
  ul
    li Meeting people who are passionate about software.
      ul
        li Learning from people who are experienced in making software.
        li Discussing technology and thinking about making it better.
    li Exposure to various technologies for all technology stacks.
      ul
        li Opportunities with web, desktop, mobile, and other kinds of applications.
    li Working on useful and interesting projects.
      ul
        li Add more skills and showcases to your resume.
        li Get mentorship from or mentor fellow projectmates.
section
  h2 What kind of software are we interested in?
  ul
    li
      | Open and 
      a(href='https://www.gnu.org/gwm/libredocxml/x15.html' target='_blank') libre
      ul
        li The source code of the software and other relevant components (e.g. music and art) should be available for everyone.
        li
          | Licenses must allow others to 
          a(href='https://opensource.com/law/10/10/license-compliance-not-problem-open-source-users' target='_blank') use, study, modify, and distribute
          |  the work done for free.
        li
          | "Copy-left", or licenses that require any derivative work to remain open source and libre, are highly encouraged. This allows software to stay open and for future work to contribute to the community.
    li Respects user privacy
      ul
        li Collecting data must be voluntary and explicitly communicated to the user and should only be done when necessary.
        li User privacy and security should be high in the priorities.
    li Accessible
      ul
        li Highly encouraged to be accessible for people with visual or physical impairments.
        li Highly encouraged to be translatable into different languages and still match the original design.
    li Responsible
      ul
        li Must not encourage others to engage in malicious or harmful activities.
        li Must not have a negative impact on the environment or the world.
