---
layout: base.pug
---
section.button-container
  a(href='/about')
    button.nice-button Contact
  a(href='/about/purpose')
    button.nice-button Purpose
  a(href='/about/organization')
    button.nice-button Organization
  a(href='/about/constitution')
    button.nice-button Constitution
section
  h2
    | Community Guidelines (
    a(href='https://wiki.gnome.org/Foundation/CodeOfConduct') Attribution
    | )
  p Examples of behavior that contributes to creating a positive environment include:
  ul
    li
      strong Be friendly. 
      | Use welcoming and inclusive language.
    li
      strong Be empathetic. 
      | Be respectful of differing viewpoints and experiences.
    li
      strong Be respectful. 
      | When we disagree, we do so in a polite and constructive manner.
    li
      strong Be considerate. 
      | Remember that decisions are often a difficult choice between competing priorities. Focus on what is best for the community. Keep discussions around technology choices constructive and respectful (e.g., do not say &ldquo;real programmers use vim&rdquo;).
    li
      strong Be patient and generous. 
      | If someone asks for help it is because they need it. When documentation is available that answers the question, politely point them to it. If the question is off-topic, suggest a more appropriate online space to seek help.
    li
      strong Try to be concise. 
      | Read the discussion before commenting in order to not repeat a point that has been made.
section
  h2 Triumvirate
  p The triumvirate are responsible for presiding over the board of directors. They must organize weekly board meetings (when relevant) and carry the votes after letting the directors discuss the issue. They must also overlook the development of projects as well as the work done by other officers. Open Code @ MIT will have a minimum of three distinct officers:
  ul
    li
      strong President: 
      | The President is additionally responsible for representing Open Code @ MIT externally in MIT and ASA meetings as well as relevant meetings. The President must be a current MIT student.
    li
      strong Vice President: 
      | The Vice President is additionally responsible to take the roles of the president when the president is busy or unavailable. The Vice President is also responsible for sending relevant reminders for executive meetings. The Vice President must be a current MIT student.
    li
      strong Treasurer: 
      | The Treasurer is additionally responsible for managing the finances of Open Code @ MIT. The Treasurer must approve all disbursements from Open Code @ MIT&rsquo;s accounts, including reimbursements to members. The Treasurer must be a current MIT student.
section
  h2 Officers
  p In addition to the triumvirate, Open Code @ MIT has other roles designated as officers. At least half of Open Code @ MIT officers must be distinct current MIT students.
  ul
    li
      strong Social Chair: 
      | The Social Chair is responsible for organizing social events for the members of Open Code @ MIT as relevant in the &ldquo;Events&rdquo; section.
    li
      strong Outreach Chair: 
      | The Outreach Chair is responsible for organizing guest talk events for the members of Open Code @ MIT as relevant in the &ldquo;Events&rdquo; section.
    li
      strong Web Chair: 
      | The Web Chair is responsible for keeping the website, resources, and mailing lists updated with the information relevant to the members of Open Code @ MIT.
    li
      strong
        | Hosting Chair: 
      | The Hosting Chair is responsible for managing the servers owned by Open Code @ MIT.
    li
      strong
        | Publicity Chair: 
      | The Publicity chair is responsible for publicizing and creating posters for the events organized by Open Code @ MIT.
    li
      strong Inclusion Chair: 
      | The Inclusion Chair is responsible for organizing events about inclusion and accessibility in open software and technology for the members of Open Code @ MIT. In addition, the Inclusion Chair is responsible for keeping Open Code @ MIT an inclusive space and events are inclusive for all students.
section
  h2 Membership
  ul
    li Any member of the MIT community is eligible to become a member of this organization. One is considered a member of this organization in any given academic term if that person is subscribed to the mailing list.
    li The organization&rsquo;s membership will at all times consist of at least 5 MIT students and be more than half MIT students.
    li This organization will not discriminate based on any characteristic listed in MIT&apos;s Nondiscrimination Statement.
    li If this organization charges any monetary dues, there will be exceptions made for students that cannot afford these dues.
section
  h2 Elections
  ul
    li Elections of officers shall occur annually during the final weeks of the spring term.
    li Any member of this organization is eligible to run for any office.
    li Quorum for elections is two-thirds of the number of officers.
    li Voting will be conducted in the form of Rank Choice with voting members ranking their top two candidates out of all running candidates in the election; this applies per chair.
    li Any member is elected if that member wins a majority of the voting members.
    li If more than two people are running then, until one person wins a majority, the person with the fewest votes is dropped from the ballot and votes are recounted based on valid rankings. If no majority is reached after this then a new election is conducted for that chair.
    li The term of office runs from one election to the subsequent election.
    li Officers may be removed by a two-thirds vote of the members with the quorum being the same as for elections.
section
  h2 Meetings
  ul
    li Officers meetings should be held with board meetings every week.
    li Meetings shall be presided over by the triumvirate.
    li All relevant decisions (unless otherwise stated in this document) shall be made by a majority vote of all members present.
    li Quorum for a meeting shall be half of the number of officers.
section
  h2 Projects
  p We have come up with a simple way to manage projects and will encourage this method in the projects we maintain. Each project will have directors (usually one) and developers (one or more). Our goal is to create a collaborative and stress-free environment. Below, there are descriptions for each of the roles, but we understand that people get busy or things might not work as they were planned. If that&rsquo;s the case, feel free to talk to any of the triumvirate or the officers.
  ul
    li
      strong Director: 
      | Project director will be responsible for tracking and updating the status of the project and should have technical skills to mentor and help developers. The director should also assign tasks to developers and occasionally check-in on them. The director may refer to someone else knowledgeable about the project when they are busy with other responsibilities or in need of assistance. It is possible that the director also is a developer of the project. One person could be a director for multiple projects.
  ul
    li
      strong Developer: 
      | Anyone who occasionally or actively contributes to a project, whether that be through code, music, art, translation, design, or testing. Developers are responsible for communicating what tasks they are willing to work on and should, to the best of their abilities, estimate when they can get it done. In case a developer needs help or more time, or no longer can do the task, or wants to withdraw from the project, they should reach out to the project&rsquo;s director(s).
  p
    | When a director wants to withdraw from their project, they should appoint (based on contributions and knowledge about the project) one of the developers who is willing to take on the role. This must also be approved by the board of directors. In case no appointment is made, the board of directors take this responsibility to replace the director or mark the project as stale for the time being.
section
  h2 Board of Directors
  p The board of directors refers to the group of people who are a director in one or more projects. When there is a new project that hasn&rsquo;t been started yet or there is a need for a director in another project, it is possible that the board of directors will be looking for a new director. In this case, an announcement will be sent to the mailing list and members who are willing to take on the role will need to reach out and talk to the board of directors. The priority will be given to those who have contributed in the current or the past projects, but the interest for the project who needs a director will also be greatly considered. The decision to appoint a new director or to dispose of a previous director must be with the majority of the board of directors as well as the majority of the triumvirate (president, vice president, and treasurer).
section
  h2 Events
  p We are passionate about meeting the members and making it possible for the members to meet with each other, so there are a few types of events we have planned. These events are planned to happen weekly and might be part of the weekly board meetings. Any member can apply to organize any type of event (specified below or otherwise) under the supervision of the social chair.
  ul
    li
      strong Share What You Know (SWYK): 
      | In this event, a member (or multiple members) will be sharing their knowledge on a specific topic. This could be related to a programming language (e.g., &ldquo;how template programming works in C++&rdquo;) or a framework (e.g., &ldquo;how to implement REST API in Flask&rdquo;), or anything that could be useful in development of the projects (e.g., &ldquo;how to set up your IDE for better productivity&rdquo;).
    li
      strong Tech vs Tech (TvT): 
      | There are many open source technologies, and sometimes it is hard to choose which one to use. In Tech vs Tech, members will be given the opportunity to learn about two or more technologies and discuss which ones are better in which situations.
    li
      strong Guest Talks (GT): 
      | We will sometimes invite others to give a talk about a topic they are specialized in. The guests could come from the open source community, MIT professors, or MIT alumni.
    li
      strong Project Review (PR): 
      | When a project hits a major milestone, the director and the developers might request a project review, which serves as both a celebration and an opportunity to receive feedback from other members.
    li
      strong Hall of Shame and Fame (HSF): 
      | There is a lot of software to learn from. Some of them are well-done and some are not. In this event, we will collect some examples of both sides about a few topics and present them.
