---
layout: base.pug
eleventyImport:
  collections: ["events"]
---

- let event_in_past = t => t < Date.now() - 1000 * 60 * 60 * 24
- let future_events = events.events.filter(e => !event_in_past(e.time.at(-1).start.getTime()))
- let past_events = events.events.filter(e => event_in_past(e.time.at(-1).start.getTime())).reverse()
- let format_time = x => x >= 12 ? `${x-12}PM` : x == 0 ? "12AM" : `${x}AM`
- let format_date = d => { return d.toLocaleDateString("en-US", { year: 'numeric', month: 'short', day: 'numeric', timeZone: 'UTC' }); }

mixin format_event(event, future)
  li.event
    img.event-image(src=event.image alt=event.display_name width=550 height=270)
    .event-info
      .event-text
        .event-title !{event.display_name}
        .event-desc
          | !{event.description}
        if event.slides
          a.nice-link(href=event.slides) Slides
      .event-stats
        for time, index in event.time
          if index == 0 || time.start.getHours() != event.time.at(index - 1).start.getHours() || time.end.getHours() != event.time.at(index - 1).end.getHours()
            .event-stat
              img.event-stat-image(alt='clock' src='/images/clock.svg' height=28 width=28)
              = format_time(time.start.getUTCHours())
              if time.end
                |  to 
                = format_time(time.end.getUTCHours())
          .event-stat
            img.event-stat-image(alt='calendar' src='/images/calendar.svg' height=28 width=28)
            = format_date(time.start)
        if event.locations
            each location in event.locations
              .event-stat
                img.event-stat-image(alt='place' src='/images/map.svg' height=28 width=28)
                if location.href && future
                  a.nice-link(href=location.href target='_blank') !{location.place}
                else
                  = location.place


if future_events.length
  section
    h1 Future Events
    ul.event-container
      for event in future_events
        +format_event(event, true)
if past_events.length
  section
    h1 Past Events
    ul.event-container
      for event in past_events
        +format_event(event, false)